fluxo.json
[
    {
        "id": "d825e256770b54a7",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "mqtt_sensor_ir",
        "type": "mqtt in",
        "z": "d825e256770b54a7",
        "name": "Sensor Presença",
        "topic": "presenca",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "parse_payload"
            ]
        ]
    },
    {
        "id": "parse_payload",
        "type": "function",
        "z": "d825e256770b54a7",
        "name": "Processa presença",
        "func": "let presenca = msg.payload;\n\nmsg.payload = JSON.stringify({\n  presenca: presenca\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "e6f3c4c51e6cd381"
            ]
        ]
    },
    {
        "id": "74fa4cea2422f17c",
        "type": "http in",
        "z": "d825e256770b54a7",
        "name": "Sensor Distância",
        "url": "/distancia",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "0afcc2e6a894855f"
            ]
        ]
    },
    {
        "id": "0afcc2e6a894855f",
        "type": "function",
        "z": "d825e256770b54a7",
        "name": "Processa Distância",
        "func": "let distancia = msg.payload.distancia;\n\nmsg.payload = JSON.stringify({\n  distancia: distancia\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 340,
        "wires": [
            [
                "e6f3c4c51e6cd381"
            ]
        ]
    },
    {
        "id": "6b67bf21fe729ad0",
        "type": "http in",
        "z": "d825e256770b54a7",
        "name": "Sensor Temperatura",
        "url": "/temperatura",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "b1aea22d3a466803"
            ]
        ]
    },
    {
        "id": "b1aea22d3a466803",
        "type": "function",
        "z": "d825e256770b54a7",
        "name": "Processa temperatura",
        "func": "let temperatura = msg.payload.temperatura;\n\n// Cria JSON string pro ThingsBoard MQTT\nmsg.payload = JSON.stringify({\n  temperatura: temperatura\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 220,
        "wires": [
            [
                "e6f3c4c51e6cd381"
            ]
        ]
    },
    {
        "id": "e6f3c4c51e6cd381",
        "type": "mqtt out",
        "z": "d825e256770b54a7",
        "name": "Broker ThingsBoard",
        "topic": "v1/devices/me/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e990a15958d6ede9",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "mqtt_broker_local",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e990a15958d6ede9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo.thingsboard.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
